<div class="m-3">
  <h1>
    Назва:
    <%=@event.name%>
    <h1>
      <div class="photo_link" type="button" data-bs-toggle="modal" data-bs-target="#OnePhotoForm">
        <p>
          <%= event_image(@event.avatar) %>
        </p>
      </div>
      <h4>
        Опис:
        <%=@event.body%>
      </h4>
      <h4>
        Місце:
        <%=@event.place%>
      </h4>
      <h4>Зображення:</h4>
      <div class="col-9">
        <%@event.images.each do |image|%>
          <%=image_tag image, width:250, height:250%>
        <%end%>
      </div>
      <h4>
        Дата початку:
        <%=@event.begin_date%>
      </h4>
      <h4>
        Дата закінчення:
        <%=@event.end_date%>
      </h4>
    </div>
