<script>
  function onClickImage(element) {
    document.getElementById("imgInImageModal").src = element.src;
    document.getElementById("imageModal").style.display = "block";
  }
</script>
<div class="m-3">
  <h1>
    <%= t("views.events.show.name") %>
    <%=@event.name%>
    <h1>
      <div type="button" class="photo_link">
        <p>
          <%= image_tag @event.avatar, width:300, height:300, onclick:"onClickImage(this)" %>
        </p>
      </div>
      <h4>
        <%= t("views.events.show.body") %>
        <%=@event.body%>
      </h4>
      <h4>
        <%= t("views.events.show.place") %>
        <%=@event.place%>
      </h4>
      <h4>
        <%=t("views.events.show.type.title")%>
        <%if @event.price%>
        <%=t("views.events.show.type.true")%>
        <%else%>
        <%=t("views.events.show.type.false")%>
        <%end%>
      </h4>
      <h4><%= t("views.events.show.images") if @event.images.count>0%></h4>
      <div class="col-8">
        <%@event.images.each do |image|%>
          <div type="button" class="photo_link">
            <%=image_tag image, width:250, height:250, onclick:"onClickImage(this)"%>
          </div>
        <%end%>
      </div>
      <h4>
        <%= t("views.events.show.begin_date") %>
        <%=@event.begin_date%>
      </h4>
      <h4>
        <%= t("views.events.show.end_date") %>
        <%=@event.end_date%>
      </h4>
      <h4>
        <%=t("views.events.show.orgranizator")%>
        <%= @event.orgranizator%>
      </h4>
      <h4>
        <%= t("views.events.show.count")%>
        <%= @event.event_subscribes.size%>
      </h4>
    </div>
    <% if @event.end_date >= Time.now %>
      <% if user_signed_in? %>
        <% pre_event = @event.event_subscribes.find { |eventsub| eventsub.user_id == current_user.id && eventsub.event_id == @event.id} %>
          <% if pre_event %>
            <%= button_to t("views.events.show.button.unsubscribe"), event_event_subscribe_path(@event, pre_event), class:"btn btn-danger", method: :delete %>
          <% else %>
            <%= button_to t("views.events.show.button.subscribe"), event_event_subscribes_path(@event), class:"btn btn-success", method: :post %>
          <% end %>
        <% else %>
          <h4 class"p-2"="class" p-2""="p-2" ""><%= t("views.events.show.tip") %>
            <%= link_to t("views.events.show.button.sign_in"), user_session_path%></h4>
        <% end %>
      <% end %>
