<div class="">
  <h1>
    Name:
    <%=@event.name%>
  <h1>
    <p>
      <%=image_tag @event.photo%>
    </p>
    <h4>
      <%=@event.body%>
  </h4>
  <h4>
    <%=@event.place%>
  </h4>
  <h4>
   <%=@event.begin_date%>
  </h4>
  <h4>
   <%=@event.end_date%>
  </h4>
</div>
