<!DOCTYPE html>
<html>
  <head>
    <title>EventsCatalogue</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      .photo_link {
        display: inline-block;
      }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "_footer"%>
  </head>
  <style>
    body {
      background: #ced4da;
      /* Цвет фона */
      color: #212529;
      /* Цвет текста */
    }
  </style>
  <body>
    <%= render "shared/navbar"%>
    <%= render 'shared/sign_in_form' %>
    <%= render 'shared/sign_up_form' %>
    <%= render "shared/photo_form"%>
    <main style="min-height: 89vh;">
      <%= yield %>
    </main>
  </body>
  <%= render "shared/footer"%>
</html>
